.homeContainer {
  @apply h-screen w-screen flex flex-col px-16  bg-[#0a0a1f] relative;
}

.schoolLogoImage {
  transform: translate(-50%, -48%);
  @apply absolute h-full w-fit top-[50.5%] left-[48%] opacity-20;
}

.circleHeroImage {
  transform: translate(-50%, -50%);
  @apply absolute h-full w-fit top-[50%] left-[50%];
}

.lastLogImage {
  clip-path: circle(48%);
  filter: drop-shadow(0px 0px 10px rgba(9, 9, 9, 0.5));
  @apply h-full;
}

